* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

img {
	max-width:100%;
	height: auto;
}

body {
	padding: 0;
	margin: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #535353;
	line-height: 1.28;

	overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* Block - headline */
.headline {
	font-size: 25px;
	line-height: 1.2;
}

/* Block - header */
.header {
	position: relative;

	background: #011F30 url(../img/clients_header-bg.jpg) no-repeat;
	background-size: cover;
	height: 520px;
}
.header__main {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	padding-top: 15px;
}
.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header__title {
	max-width: 975px;
	margin: 0 auto;
	padding: 0 15px;
	margin-top: 125px;
	padding-right: 40%;

	color: #fff;
}

.header__menu {
	position: absolute;
	bottom: 0;
	
	width: 100%;
	height: 50px;

	background: #fff;
}

.header__menu-list {
	max-width: 975px;
	margin: 0 auto;
	padding: 0 15px;

	border-bottom: 1px solid rgba(0,0,0, .2);
}

.header__menu-list li {
	height: 48px;

	border-bottom: 5px solid transparent;
}

.header__menu-list li.active-page {
	border-bottom: 5px solid #5f929e;
}





/* Block - logo */
.logo {
	display: block;
	width: 200px;
}


/* Block - options */
.options {
	display: flex;
}

.options__lang,
.options__search {
	width: 33px;
	height: 33px;
	display: inline-block;
	margin: 0 9px;

	border: 1px solid #dfdfde;
	border-radius: 5px;
}

.options__lang--footer,
.options__search--footer {
	border-color: #63adbe;
}

.options__lang:hover,
.options__search:hover {
	cursor: pointer;
}

.options__lang {
	
	color: #fff;
	font-size: 15px;
	font-weight: 600;

	outline: none;
	background-color: transparent;
}

.options__lang--footer {
	color: #3f3f3f;
}

.options__search {
	background: url(../img/header_search-icon.png) no-repeat;
	background-position: center;
}

.options__search--footer {
	background-image: url(../img/footer_search-icon.png);
}

.options__search-form {
	display: none;
}

/* Block - menu */
.menu {
	font-size: 12px;
}
.menu__list {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	margin-bottom: 0;

	list-style: none;
}

.menu__list li {
	height: 48px;
}

.menu__list li a {
	line-height: 48px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #a3a3a3;
}
.menu__list li.active-page a {
	color: #5f929e;
}

.menu__title,
.menu__btn {
	display: none;
}

.menu__btn {
	width: 30px;
	height: 30px;
	padding: 0;

	outline: none;
	border: none;
	background: url(../img/menu-icon.png) no-repeat;
	background-position: center;
	background-size: 30px;
}














/* Block - footer */
.footer {
	background: #F4F4F4;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__menu {
	height: 70px;
}
.footer__menu li  {
	margin: 0 20px;
	border-top: 5px solid transparent;
}

.footer__menu li.active-page {
	border-top: 5px solid #5f929e;
}
.footer__top,
.footer__bottom {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer__phones {
	flex: 1;
}

.footer__politics {
	width: 245px;
	padding-right: 20px;

	font-weight: bold;
	font-size: 11px;
	line-height: 1.27;
}

.footer__directions {
	width: 368px;
	padding: 0 30px;
}
.footer__directions a {
	width: 49%;
	display: inline-block;
	padding-top: 10px;
}

.footer__social {
	width: 180px;
}
.footer__headline {
	margin: 5px 0;

	color: #282828;
	font-size: 12px;
}

.footer__faq {
	position: relative;

	display: inline-block;
	margin-top: 39px;

	text-decoration: none;
}
.footer__faq:after {
	position: absolute;
	left: 0;
	bottom: -10px;

	content: "";
	display: block;
	height: 2px;
	width: 100%;

	background-color: #63adbe;
} 

/* Block - social */
.social__item {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;

	text-decoration: none;
	color: #282828;
	font-size: 12px;
}

.social__item span {
	display: inline-block;
	width: 20px;

	text-align: center;

}
/* Block - phone */
.phone,
.footer__faq {
	color: #5f929e;
	font-size: 29px;
	font-style: normal;
	font-weight: 600;
	line-height: .68;
}