/*** Общие стили для всех страниц ***/

* {
	box-sizing: border-box;
}

img {
	max-width:100%;
	height: auto;
	/* Для IE */
	border: none;
}

body {
	padding: 0;
	margin: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #535353;
	line-height: 1.28;

	overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* Block - headline */
.headline {
	font-size: 25px;
	line-height: 1.2;
}

/* Block - header */
.header {
	position: relative;

	background: #011F30 url(../img/clients_header-bg.jpg) no-repeat;
	background-size: cover;
	height: 520px;
}
.header__main {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	padding-top: 15px;
}
.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header__title {
	max-width: 975px;
	margin: 0 auto;
	padding: 0 15px;
	margin-top: 125px;
	padding-right: 40%;

	color: #fff;
}

.header__menu {
	position: absolute;
	bottom: 0;
	
	width: 100%;
	height: 50px;

	background: #fff;
}

.header__menu-list {
	max-width: 975px;
	margin: 0 auto;
	padding: 0 15px;

	border-bottom: 1px solid rgba(0,0,0, .2);
}

.header__menu-list li {
	height: 48px;

	border-bottom: 5px solid transparent;
}

.header__menu-list li.active-page {
	border-bottom: 5px solid #5f929e;
}

.header__link {
	display: inline-block;
	margin-top: 57px;
	padding-left: 34px;

	text-decoration: none;
	font-weight: bold;
	color: #fff;

	background: url(../img/svg/arrow-left-icon.svg) no-repeat 0 center;
}





/* Block - logo */
.logo {
	display: block;
	width: 200px;

	transition: visibility 400ms;
}

.logo--hidden {
	visibility: hidden;
}



/* Block - options */
.options {
	position: relative;

	display: flex;
	padding-right: 50px;
}

.options__lang,
.options__search{
	height: 33px;
	display: inline-block;
	margin: 0 9px;

	border: 1px solid #dfdfde;
	border-radius: 5px;
}

.options__lang {
	width: 33px;
}

.options__lang--footer,
.options__search--footer {
	border-color: #63adbe;
}

.options__lang:hover,
.options__search-btn:hover {
	cursor: pointer;
}

.options__lang {
	padding: 0;

	color: #fff;
	font-size: 15px;
	font-weight: 600;
	text-align: center;

	outline: none;
	background-color: transparent;
}


.options__lang--footer {
	color: #3f3f3f;
}

.options__search {
	position: absolute;
	right: 0;

	width: 300px;
	background-color: #fff;
	transition: all 400ms;
}



.options__search--closed {
	width: 33px;

	overflow: hidden;

	background-color: transparent;
}

.options__search-btn {
	position: absolute;
	right: 0;

	width: 33px;
	height: 100%;

	border: none;

	background: url(../img/header_search-icon.png) no-repeat;
	background-position: center;
	outline: none;

	z-index: 2;
	transition: all 400ms;

}

.options__search-btn--opened {
	right: 35px;

	background-image: url(../img/search-icon_clicked.png);
}

.options__search-btn--footer {
	background-image: url(../img/footer_search-icon.png);
}

.options__search-form {
	position: absolute;
	right: 0;
	top: -1px;

	height: 33px;
	width: 100%;
	padding-left: 10px;
	padding-right: 66px;

	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;

	visibility: hidden;
}

.options__close {
	position: absolute;
	right: 0;
	top: -2px;

	height: 34px;
	width: 33px;
	display: none;

	text-decoration: none;

	background: url(../img/svg/close_icon.svg) no-repeat;
	background-size: cover;
	background-position: -8px -5px;
	border-left: 1px solid rgba(0,0,0, .3);

	z-index: 2;
}

.options__close:hover {
	background-position: -8px -50px;
}

/* Block - menu */
.menu {
	font-size: 12px;
}
.menu__list {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	margin-bottom: 0;

	list-style: none;
}

.menu__list li {
	height: 48px;
}

.menu__list li a {
	line-height: 48px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #a3a3a3;
}
.menu__list li.active-page a {
	color: #5f929e;
}

.menu__title,
.menu__btn {
	display: none;
}

.menu__btn {
	width: 30px;
	height: 30px;
	padding: 0;

	outline: none;
	border: none;
	background: url(../img/menu-icon.png) no-repeat;
	background-position: center;
	background-size: 30px;
}
/* Block - main */
.main__inner {
	max-width: 1000px;
	padding: 0 30px;
	margin: 0 auto;
}

/* Block - footer */
.footer {
	background: #F4F4F4;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__menu {
	height: 70px;
}
.footer__menu li  {
	margin: 0 20px;
	border-top: 5px solid transparent;
}

.footer__menu li.active-page {
	border-top: 5px solid #5f929e;
}
.footer__top,
.footer__bottom {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
}
.footer__phones {
	flex: 1;
}

.footer__politics {
	width: 245px;
	padding-right: 20px;

	font-weight: bold;
	font-size: 11px;
	line-height: 1.27;
}

.footer__directions {
	width: 368px;
	padding: 0 30px;
}
.footer__directions a {
	width: 49%;
	display: inline-block;
	padding-top: 10px;
}

.footer__social {
	width: 180px;
}
.footer__headline {
	margin: 5px 0;

	color: #282828;
	font-size: 12px;
}

.footer__faq {
	position: relative;

	display: inline-block;
	margin-top: 39px;

	text-decoration: none;
}
.footer__faq:after {
	position: absolute;
	left: 0;
	bottom: -10px;

	content: "";
	display: block;
	height: 2px;
	width: 100%;

	background-color: #63adbe;
} 

/* Block - social */
.social__item {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;

	text-decoration: none;
	color: #282828;
	font-size: 12px;
}

.social__item span {
	display: inline-block;
	width: 20px;

	text-align: center;

}
/* Block - phone */
.phone,
.footer__faq {
	color: #5f929e;
	font-size: 29px;
	font-style: normal;
	font-weight: 600;
	line-height: .68;
}








/*** Страница - клиенты ***/


/* Block - clients */
.clients {
	padding-top: 85px;
}
.clients__main-block {
	padding: 0 80px;
	margin-bottom: 65px;
	
	text-align: center;
}

.clients__item {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 82px;
}

.clients__item:last-child {
	margin-bottom: 93px;
}

.clients__image,
.clients__content {
	display: inline-block;
}

.clients__image {
	width: 436px;
}

.clients__content {
	flex: 1;
	margin-left: 50px;
	margin-top: 25px;
	padding-right: 50px;
}

.clients__text,
.clients__headline {
	margin: 0;
}

.clients__headline {
	margin-bottom: 9px;

	color: #5f929e;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}

.clients__text {
	margin-bottom: 26px;
}

.clients__date {
	color: #3a3a3a;
	font-weight: 600;
	font-size: 20px;
}

/* Block - thanks */
.thanks__content {
	padding: 0 80px;
	margin-bottom: 50px;
	
	text-align: center;
}

.thanks__letters {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 50px;
}



/*** Страница - Блог ***/

/* Block - blog */
.blog {
	padding-top: 80px;
}

.blog__item {
	position: relative;
	
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-bottom: 46px;
	margin-bottom: 46px;
}

.blog__item:after {
	position: absolute;
	bottom: 0;
	left: -500%;
	right: -500%;

	content: "";
	display: block;
	height: 2px;

	background-color: #cecece;
}

.blog__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;

	padding-right: 50px;
	padding-left: 28px;
}

.blog__headline {
	margin: 0;

	font-weight: 600;
	color: #3f3f3f;
	text-transform: uppercase;
}

.blog__image {
	width: 425px;

}

.blog__more {
	margin-top: auto;
	padding-bottom: 5px;

	color: #b4b2b2;

	background-color: transparent;
	border: none;
	outline: none;
}

.blog__more:hover {
	cursor: pointer;
}


/*** Страница - О комании ***/
.company {
	padding-bottom: 85px;
}

.company__about {
	max-width: 684px;
	margin: 0 auto;
	padding: 70px 0;

	text-align: center;
}

.company__important,
.company__text {
	margin: 0;
}

.company__important {
	text-transform: uppercase;
	font-weight: 600;
	color: #5f929e;
}

.company__statistics {
	padding: 112px 0;

	background: url(../img/компания-подложка.png) no-repeat;
	background-size: cover;
}

.company__numbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1000px;
	padding: 0 30px;
	margin: 0 auto;
}

.company__num {
	text-align: center;
	color: #fff;
}

.company__num span {
	font-size: 80px;
}

.company__num p {
	margin: 0;

	font-size: 19px;
	text-transform: uppercase;
}

.company__num span,
.company__num p {
	font-weight: 600;
}

/* Block - news */
.news__inner {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
	padding-top: 83px;
}

.news__headline {
	height: 38px;
	font-size: 19px;
	font-weight: 600;
	color: #3f3f3f;
	line-height: 1.6;

	border-bottom: 2px solid #ebebeb;
}

.news__list {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.news__item {
	display: flex;
	align-items: flex-start;
	flex: 1;
}

.news__date {
	text-align: center;
}

.news__day {
	display: inline-block;
	width: 44px;
	height: 44px;

	color: #1f1f1f;
	font-size: 31px;
	font-weight: 300;

	border: 2px solid #5f929e;
	border-radius: 50%;
}

.news__month {
	margin-top: 5px;

	color: #5f929e;
	font-weight: 600;
}
.news__title {
	display: inline-block;
	margin: 0;
	padding-left: 15px;
	padding-right: 50px;

	color: #3f3f3f;
	font-weight: 600;
	text-decoration: none;

	/* Для IE */
	display: table-cell;
	word-wrap: break-word;
	word-break: break-all;
}


/*** Страница поиска ***/

/* Block - search */
.search {
	padding-top: 123px;
	padding-bottom: 94px;

	font-weight: 600;
}

.search__header {
	padding-bottom: 20px;
	border-bottom: 1px solid #cdcdcd;
}

.search__count-res {
	color: #000;
}
.search__header,
.search__find-news {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search__content {
	padding-top: 20px;
}

.search__label {
	margin-right: 20px;
}

/* Block - checkbox */
.checkbox-field {
	position: relative;

	width: 65px;
	height: 25px;

	background-color: #ababab;
	border-radius: 7px;
}

.checkbox-field:hover {
	cursor: pointer;
}

.checkbox-field:after {
	position: absolute;
	left: 2px;
	top: 2px;
	
	content: "";
	display: block;
	width: 30px;
	height: 21px;
	margin: 0;
	padding: 0;

	background-color: #fff;
	outline: none;
	border-radius: 5px;

	transition: all 400ms;
}

.checkbox-field--checked {
	background-color: #5f929e;
}

.checkbox-field--checked:after {
	left: 33px;
}
.checkbox-field__checkbox {
	visibility: hidden;
}

