@media screen and (max-width: 1060px) {
  /* Block - footer*/
  .phone,
  .footer__faq {
    font-size: 20px;
  }
}
@media screen and (max-width: 980px) {
  /* Block - footer*/
  .footer__politics,
  .footer__social,
  .footer__phones,
  .footer__directions {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media screen and (max-width: 830px) {
  /* Block - header */
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
  }
  .header__menu-list li.active-page {
    border-left: 5px solid #5f929e;
    border-bottom: none;
  }
  /* Block - menu */
  .menu__list {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #fff;
  }
  .menu__list li a {
    padding-left: 10px;
  }
  .menu__title,
  .menu__btn {
    display: block;
  }
  /* Block - footer*/
  .footer__bottom {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__politics,
  .footer__social,
  .footer__phones,
  .footer__directions {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 50%;
    margin-bottom: 15px;
  }
  .footer__directions {
    padding-left: 0;
  }
  .footer__directions a {
    width: 100%;
  }
  /*** Страница - клиенты ***/
  .clients__main-block {
    padding: 0;
  }
  /* Block - post-item */
  .post-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .post-item__content {
    margin: 0;
    padding: 0;
  }
  /* Block - thanks */
  .thanks__content {
    padding: 0;
  }
  .thanks__letters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 380px) {
  /* Block - footer */
  .footer__politics,
  .footer__social,
  .footer__phones,
  .footer__directions {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    margin-bottom: 15px;
  }
  .footer__directions img {
    text-align: center;
  }
  .footer__directions a {
    width: 49%;
  }
  .footer__social a {
    width: 49%;
  }
}
